<% if @not_authorized %>
  <div class="alert alert-danger">You need to <a href='/requesttoken'>authorize</a> first.</div>
<% else %>
  <div class="alert alert-success">Hi <strong><em><%= @username %></em></strong>, there are <%= @total_notes %> notes in your account</div>
  <div class="panel panel-default panel-info">
    <div class="panel-heading">
      Notebooks
      <a href='/notebooks/new'><span class="glyphicon glyphicon-plus pull-right"></span></a>
    </div>

    <ul class="list-group">
      <% @notebooks_names.each do |notebook| %>
        <li class="list-group-item">
          <%= notebook %>
          <a class='text-right' href='/notebooks/new'><span class="glyphicon glyphicon-remove pull-right"></span></a>
          <a class='text-right' href='/notebooks/new'><span class="glyphicon glyphicon-pencil pull-right"></span></a>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
